.custom-landing-section {
  position: relative;
  background: url(/uploads/images/tensor-panoply.gif) no-repeat center;
  background-size: cover;

  /*.uk-text { color: #fff; }

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
  }*/
}

.custom-landing-section-cover {
  position: absolute;
  //background: rgba(0, 0, 0, 0.5);
}

/*.custom-landing-section-content {

}*/